.about {
	height: 100%;
	display: flex;
	flex-direction: column;
	.about__title {
		flex: 1 1 35%;
	}
	.about__block {
		flex: 1 1 65%;

		display: flex;
		.slide__block {
			flex: 0 0 50%;
		}
	}

	// TITLE OF SLIDE
	.about__title {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: end;
		h2 {
			font-family: "JetBrains Mono", monospace;
			font-weight: 800;
			font-size: 115px;
			padding: 40px;

			user-select: none;
		}
	}

	// BLOCK INFORM ABOUT ME
	.about__inform {
		display: flex;
		align-items: center;

		.about__inform-container {
			position: relative;
			top: -25px;
			width: 75%;
			margin: 0 auto;
			.about__inform-title {
				font-size: 25px;
				font-weight: 700;
				margin-bottom: 30px;
			}
			.about__inform-text {
				p {
					font-size: 14px;
					margin-top: 15px;
					line-height: 20px;
					&:last-child {
						font-weight: 500;
						margin-top: 27px;
						a {
							font-size: 15px;
							font-weight: 800;
							color: black;
						}
					}
				}
			}
		}
	}
}
