@import url("./abstract/null.scss");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;1,600&display=swap");
* {
	font-family: "Quicksand", sans-serif;
}

@import "../scss/abstract/var";

#root {
	position: relative;
	width: 100vw;
	height: 100vh;

	background-color: $theme-phone;

	overflow: hidden;
}

.application {
	width: 100%;
	height: 100%;

	overflow: hidden;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.application .burger {
	position: absolute;
}

.slide {
	height: 100%;

	&._enable {
		flex: 1 0 auto;
	}
	&._disable {
		flex: 0 0 40px;
	}

	.slide__block,
	.bb {
		border: solid 1px $theme-phone;
		border-radius: 13px;
		background-color: $theme-block;
	}

	transition: all 0.1s ease-in-out 0s;
}

section.slide__line {
	height: 100%;
	width: 100%;
	background-color: $theme-block;
	border: solid 1px $theme-phone;
	border-radius: 13px;

	overflow: hidden;

	display: flex;
	justify-content: center;
	padding-top: 17px;

	cursor: pointer;

	.line__container {
		writing-mode: vertical-lr;
		display: flex;
		align-items: center;

		.line__main,
		.line__subtext-1,
		.line__subtext-2 {
			font-size: 13px;
			font-weight: 500;
			letter-spacing: 0.2px;

			user-select: none;
			&.line__subtext-1 {
				position: absolute;
				top: calc(42vh);
			}
			&.line__subtext-2 {
				position: absolute;
				top: calc(72vh);
			}
			&::first-letter {
				font-weight: 800;
				letter-spacing: 1.3px;
				color: red;
			}

			@media (max-height: 430px) {
				font-size: 10px;
				letter-spacing: -0.4px;
			}
		}
		.line__main {
			display: flex;
			span::first-letter,
			.line__main-text::first-letter {
				color: red;
			}
		}
	}
}

@import "../scss/components/slide-intro.scss";

@import "../scss/components/slide-pets.scss";

@import "../scss/components/slide-skills.scss";

@import "../scss/components/slide-about.scss";

@import "../scss/components/footer";
